* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: aqua;
}

form input {
  display: none;
}

form label {
  cursor: pointer;
}