* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: aqua;
  margin: 0 100px;
}

form input {
  display: none;
}

form label {
  cursor: pointer;
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border-radius: 10px 5px;
}

.checked {
  background-color: blue;
  color: white;
}

.input-container {
  display: flex;
  justify-content: space-around;
}
.button-show {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 10px;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

.checked-answer {
  background-color: blue;
  color: white;
}